
*{
    font-family: "Sedan SC", serif;
    color: white;
    scroll-behavior: smooth;
}

body{
    
    margin: 0;
    background-color: #222;
}





/* Navbar */

.navbar{
    position: sticky;
    top: 0;
    z-index: 100000;
    backdrop-filter: blur(4px);
    background-color: rgba(34,34, 34, 0.25);
    
   
}

.navbar {
   border-bottom: 1px solid #333;
}


.navbar-container{
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.nav-left>div{
    display: flex;
}

.logo{
    
    border-radius: 50%;
    width: 50px;
    margin: 0 1rem;
}

.nav-name{
    font-size: 20px;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
}

.nav-right{
    margin-left: auto;
}
.nav-items-container{
    display: flex;
    flex-wrap: wrap;
   
}

.nav-items{
    margin: 1rem;
    list-style-type: none;
}

.nav-items-link{
    text-decoration: none;
}

.nav-items-link:hover{
    color: blue;
}





        /* Container */

 .hero-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
 } 
 
 .hero-image,
 .project-image{
   
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
 }

 .hero-left,.hero-right{
    width:50%;

 }

 .title{
    font-size: 3rem;
    text-align: center;
    font-weight: 400;
 }

 .hero-container .title{
    text-align: left;
    padding-left: 1rem;
    
 }

 .description{
    padding: 0 1rem;
    font-size: 1rem;
    line-height: 2rem;
    text-align: justify;

 }
   
 






 /* Resume Section */

 .resume-container{
    margin-top: 1rem;
    padding: 6.5rem 1rem 0 1rem;
    min-height: 100vh;
    overflow: visible;
 }



 .resume-sub-container{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; */

    display: grid;
    grid-template-columns: repeat(2, minmax( 0, 1fr));
    align-items: center;



 }


 .resume-list{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax( 0, 1fr));
    align-items: center;
    grid: 1.25rem;
    border-left: 1px solid #333;
 }

 .resume-duration-container{
    display:flex;
    align-items: center;
    padding-left: 2rem;
 }

 .round-div{
    height: 24px;
    width: 24px;
    background-color: #222;
    border: 1px solid #333;
    border-radius: 50%;
    position:absolute;
    left: -12.5px;
   
 }

 .resume-duration{
   
    background-color: black;
    width: auto;
    border-radius: 1.5rem;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;   

 }

 .resume-company{
    font-size:1rem ;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
 }

 .resume-designation{
    color: gray;
    font-size: 0.875rem ;
    line-height: 1.25rem;
    margin: 0;
 }

 .resume-image{
    display: block;
    margin: 0 auto;
 }


 .subtitle{
    font-size: 1.25rem;
    line-height: 1.6rem;
    margin-bottom: 0;
 }

 .line{
    background-color: #333;
    height: 2px;
    width: 100px;
    margin:0.25rem 0 2rem 0 ;
 }

   .inner-line{
    background-color: rgb(114, 114, 223);
    width: 30px;
    height: 2px;
   }







   /* Certifications  */

   .certificates-sub-container{
      display: grid;
      grid-template-columns:repeat(2, minmax(0,1fr)) ;
      gap: 2rem;
      margin-top: 3rem;
   }

   .subtitle-container>.subtitle , .subtitle-container>.line{
      text-align: center;
      margin: 0 auto;
      display: block;

   }

   .certification-list{
      display: flex;
      align-items: center;
      gap: 1.25rem;
      border: 2px solid #444;
      border-radius: 0.375rem;
      transition: transform 0.3s ease;
      margin-top: 1rem;
      min-height: 100px;
     

   }

   .certification-list:hover{
      transform : translateY(-0.5rem);

   }

   .certificate-org-logo{
      background-color: #444 ;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      height: 3rem;
   }

   .certificate-name,
   .project-title{
      color: #f5fff5f5;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      margin: 0;

   }

   .certificate-org-name,
   .certificate-date,
   .certificate-link,
   .project-details,
   .project-link{
      color: #777;
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
      margin: 8px 0;

   }

   .certificates-link-container{
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .certificates-link{
      cursor: pointer;
   }

   .certificates-btn{

      border-radius: 1.5rem;
      border: 2px solid #d5d5d5;
      color: #fff;
      background-color: #3333;
      padding: 1rem 1.5rem;


   }
   .certificates-btn:hover{
      background-color: blue;
   }






   /* Skills */

   .skills-container{
      margin: 5rem 0;
   }

   .skills-sub-container{
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1rem;
      margin-top: 1rem;
   }

   .skills-progress-container{
      margin: 1rem 0;
   }

   .skills-progress{
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

   }


   .skill{
      font-size: 13px;

   }

   .percentage{
      color: #888;
      font-size: 12px;
   }

   .progress{
      height: 0.5rem;
      width: 100%;
      border: 2px solid #444;
      border-radius: 0.5rem;
      /* accent-color: #444; */
   }

   progress::-webkit-progress-value
   {
      background-color: rgb(59, 130, 246);
   }




   /* Portfolio */

   .project-container{
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 2rem;
      margin: 4rem 0;
   }

   .project-list{
      margin-top: 2rem;
      border: 1px solid black;
      border-radius: 1rem;

   }
   .project-list:hover{
      background-color: #333;
   }

   .project-image{
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
   }

   .project-description{
      padding: 1rem;
   }



   /* Contact */

   .contact-container{
      margin: 5rem 0;
   }

   .contact-details a,
   .contact-details p{
      text-decoration: none;
      font-size: 18px;
   }

   form{
      display: grid;
      grid-template-columns: 
      repeat(2, minmax(0, 1fr));
   }

   .contact-info-container{
      display: grid;
      grid-template-columns:33% 1fr;
      gap: 1rem;
      justify-content: space-between;
      align-items: center;
      margin-top: 2.5rem;


   }


   .input-field{
      background-color: transparent;
      border: 2px solid #555;
      border-radius: 2px;
      width: 90%;
      padding: 5px;
      margin-top: 1rem ;
      font-size: 14px;

   }

   .input-field:focus{
      outline: none;
   }

   .contact-button{
      border: 2px solid #3b82Fc;
      background-color: transparent;
      padding: 8px 16px;
      border-radius: 1rem;
      font-size: 1rem;
      line-height: 1rem;
      margin-top: 1rem;
      font-weight: 400;

   }

   .contact-button:hover{
      background-color: #3b82Fc;
      cursor: pointer;
   }



   /* fOOTER */

   .footer-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #233;
      padding: 1.25rem 0.75rem;
      margin-top: 1rem;
   }

   .footer-link,
   .copyright{
      color: #d5d5d5;
      text-decoration: none;
      font-size: 14px;
      line-height: 20px;
      

   }




 



   /* Container */

   .container{
      width: 100%;
      margin-left: auto;
      margin-right: auto;
  
   } 

   @media (max-width: 992px){
      .resume-sub-container,
      .certificates-sub-container,
      .skills-sub-container,
      .portfolio-container,
      .contact-info-container{
         display: block;
         padding: 0 1rem;
      }
      
      }

 @media (min-width: 567px){
    .container{
        max-width: 540px;
    }

    .project-container{
      grid-template-columns: repeat(0, 1fr);

    }
 }
 

 @media (min-width: 768px){
    .container{
        max-width: 740px;
 }
 }
 @media (min-width: 992px){
    .container{
        max-width: 970px;
 }
 }
 @media (min-width: 1400px){
    .container{
        max-width: 1370px;
    }
 } 